development.env
*.py[cod]
node_modules
npm-debug.log

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
env
venv
test_form/
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Vim backup files
*.swp
*.swo

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Other
.sass-cache/
*.css.map

.DS_Store
codekit-config.json
.idea/*

.env

aliases.json

dev.env
sta.env
pro.env

celerybeat-schedule.db
.Python
include
