<div class="col-1-1">
  <div class="create-form">
  {% if current_user.upgraded %}
    <a href="#create-form" class="button">
      Create a form
    </a>
  
    <div class="modal" id="create-form" aria-hidden="true">
      <div class="container">
        <div class="x"><h4>Create form</h4><a href="#">&times;</a></div>
        <form method="POST" action="{{ url_for('create-form') }}">
          <div class="col-1-1">
            <h4>Send email to:</h4>
            <input type="email" name="email" placeholder="You can point this form to any email address" value="{{ current_user.email }}">
          </div>
          <div class="col-1-1">
            <h4>From URL:</h4>
            <input type="url" name="url" placeholder="Leave blank to send confirmation email when first submitted">
          </div>
          <div class="container">
            <div class="col-1-4">
              <label class="hint--bottom" data-hint="A site-wide form is a form that you can place on all pages of your website -- and you just have to confirm once!">
                <input type="checkbox" name="sitewide" value="true">
                site-wide
              </label>
            </div>
            <div class="col-3-4 info">
              When creating a form that is valid site-wide, ensure you have a file named <span class="code">/formspree-verify.txt</span> at the root of your site and that it contains a line with the target email inside.
            </div>
          </div>
          <div class="col-1-3">
            <div class="verify">
              <button>Verify</button>
            </div>
          </div>
          <div class="col-1-3">
            &#8203;
          </div>
          <div class="col-1-3">
            <div class="create">
              <button type="submit">Create form</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <h6 class="light">Please <a href="{{ url_for('account') }}">upgrade your account</a> in order to create forms from the dashboard and manage the forms currently associated with your emails.</h6>
  {% endif %}
  </div>
</div>
