<div class="col-1-1">
  <div class="create-form">
  {% if current_user.upgraded %}
    <a href="#create-form" class="button">
      Create a form
    </a>
  
    <div class="modal" id="create-form" aria-hidden="true">
      <div>
        <div class="x"><h4>Send email to:</h4><a href="#">&times;</a></div>
        <form method="POST" action="{{ url_for('forms') }}">
          <input type="email" name="email" placeholder="You can point this form to any email address" value="{{ current_user.email }}">
          <button type="submit">Create</button>
        </form>
      </div>
    </div>
  {% else %}
    <h6 class="light">Please <a href="{{ url_for('account') }}">upgrade</a> your account in order to create forms from the dashboard and manage the forms currently associated with your emails.</h6>
  {% endif %}
  </div>
</div>
