{% extends 'layouts/message.html' %}

{% block base %}

<div class="container narrow card">
  <div class="container" id="header">
    <div class="col-1-1 header info">
      <i class="ion ion-help-circled"></i>
    </div>
  </div>

  <div class="container">
    <div class="col-1-1">
      <h1>Are you sure you want to cancel this form?</h1>

      <p>You'll receive an email with a link to finally disable it.</p>
    </div>
  </div>

  <div class="container">
    <div class="col-1-1">
      <script>function submit () { document.querySelector('form').submit() }</script>
      <form
        action="{{ url_for('request_unconfirm', hashid=form.hashid) }}"
        method="POST"
      >
        <style>.g-recaptcha div { width: auto !important; height: auto !important; }</style>
        <input type="hidden" name="host" value="{{ form.host }}">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="{{ config.RECAPTCHA_KEY }}"
                                 data-callback="submit"></div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
