{% extends 'layouts/message.html' %}

{% block base %}

<div class="container narrow card">
  <div class="container" id="header">
    <div class="col-1-1 header info">
      <i class="ion ion-help-circled"></i>
    </div>
  </div>

  <div class="container">
    <div class="col-1-1">
      <h1>Disable the following forms currently targeting {{ form.email }}:</h1>
    </div>
  </div>

  <div class="container">
    <div class="col-1-1">
      <script>function submit () { document.querySelector('form').submit() }</script>
      <form
        action="{{ url_for('request_unconfirm', hashid=form.hashid) }}"
        method="POST"
      >
        <div style="text-align: left; padding-left: 5%">
        {% for f in other_forms %}
          <div class="float-left"><label>
          {% if form.id == f.id %}
            <input type="checkbox" name="disable" value="{{ form.hashid }}" checked> {{ form.host }} (current)
          {% else %}
            <input type="checkbox" name="disable" value="{{ f.hashid }}"> {{ f.host }}
          {% endif %}
          </label></div>
        {% endfor %}
        </div>
        <p>Please prove that you are a human below and you'll receive an email with a confirmation link.</p>
        <style>.g-recaptcha div { width: auto !important; height: auto !important; }</style>
        <input type="hidden" name="host" value="{{ form.host }}">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="{{ config.RECAPTCHA_KEY }}"
                                 data-callback="submit"></div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
