{% extends 'users/dashboard.html' %}

{% block sectiontitle %}
  <h1>Submission History</h1>
{% endblock %}

{% block section %}

  <div class="col-1-1 submissions-col">
    <h2>
      Submissions for
      {% if not form.hash %}
        <span class="code">/{{ form.hashid }}</span>
      {% else %}
        <span class="code">/{{ form.email }}</span>
      {% endif %}
      at <span class="code">{{ form.host }}</span>{% if form.sitewide %} and all its subpaths.{% endif %}
      {% if not form.hash %}
        <br><small>targeting <span class="code">{{ form.email }}</span></small>
      {% else %}
        <br><small>you can now replace the email in the URL with <span class="code">/{{ form.hashid }}</span></small>
      {% endif %}
    </h2>
    {% if submissions %}
      <table class="submissions responsive">
        <thead>
          <tr>
            <th>Submitted at</th>
            {% for f in fields %}
              <th>{{ f }}</th>
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for s in submissions %}
          <tr id="submission-{{ s.id }}">
            <td id="p-{{ s.id }}" data-label="Submitted at">{{ s.submitted_at.strftime('%A, %B %d, %Y at %X') }} UTC</td>
            {% for f in fields %}
              {% set value = s.data[f] %}
              <td data-label="{{ f }}">
              {% if 320 < (value | length) %}
                <pre>{{ value[:270] }}&hellip; <a href=#submission-{{ s.id }}>(see more)</a></pre>
                <pre class="full">{{ value }} <a href=#p-{{ s.id }}>(see less)</a></pre>
              {% else %}
                <pre>{{ value }}</pre>
              {% endif %}
              </td>
            {% endfor %}
              <td><form method="POST" action="{{ url_for('submission-deletion', hashid=form.hashid, submissionid=s.id) }}"><button class="no-border"><i class="fa fa-trash-o delete"></i></button></form></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>No submissions archived yet.</h3>
    {% endif %}
  </div>
</div>
  <script src="{{ url_for('static', filename='js/captcha-toggle.js') }}"></script>
  <script>
    $(function () {
        $('#recaptcha-toggle').on('click', function (event) {
            event.preventDefault();
            toggleCaptcha('{{ form.hashid }}');
        });
    });
  </script>
<div class="container block">
    <div class="col-1-3">
    {% if form.captcha_disabled %}
        <span class="tooltip hint--top no-uppercase" data-hint="Turning on reCAPTCHA will help protect your form against spam"><a href="#" class="button no-uppercase" id="recaptcha-toggle" >Turn on reCAPTCHA</a></span>
    {% else %}
        <span class="tooltip hint--top" data-hint="Turning off reCAPTCHA will remove the intermediate screen, but make your form suceptible to spam" id="recaptcha-tooltip"><a href="#" class="button destructive no-uppercase" id="recaptcha-toggle" >Turn off reCAPTCHA</a></span>
    {% endif %}
    </div>
  <div class="col-2-3 right">
    <a href="{{ url_for('form-submissions', hashid=form.hashid, format='csv') }}" target="_blank" class="button">Export&nbsp;as&nbsp;CSV</a>
    <a href="{{ url_for('form-submissions', hashid=form.hashid, format='json') }}" target="_blank" class="button">Export&nbsp;as&nbsp;JSON</a>
  </div>

{% endblock %}
