<p>Thanks for using {{config.SERVICE_NAME}}. Congrats, you're one step away from making forms on {{host}} functional.</p>

<p>All you have to do is click the link below to confirm your email. To prevent spamming, you'll have to repeat this step for every page where you insert your form. Note that you won't be receiving any emails from the site before you confirm your email.</p>

<p style="text-align: center"><a href="{{nonce_link}}" style="font-size: 20px;">Click here to confirm</a></p>

{% if data and keys %}
    <div style="padding: 9px; border: 1px solid #359173;">
        <small>In case it wasn't yourself the one who submitted this, here are the contents of the form:</small>

        <table border="0" width="100%" style="font-size: 11px;">
            {% for k in keys %}
                <tr>
                    <td align="right" valign="top" width="70"><strong>{{k}}:</strong> </td>
                    <td align="left" valign="top" width="*">
                      <pre style="margin: 0; font-family: inherit;">{{data.get(k,'')}}</pre>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

<div style="color:#a94442; background-color: #f2dede; border-color: #f2dede; padding: 30px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 36px; line-height: 1.42857143;box-sizing:border-box;text-align:center;">
<strong>ALERT:</strong> You will not receive any more emails unless you click <a href="{{ nonce_link }}" style="color:#499BC9;text-decoration:none;font-weight:bold;">here</a> and confirm your address.
</div>

<p>We hope you enjoy using {{config.SERVICE_NAME}}. If you have any questions, feel free to shoot an email to {{config.CONTACT_EMAIL}}</p>

<p>Best,<br />
Lauri and Cole</p>

<hr style="color: #359173; border: 1px dashed #359173;" />

<p><strong>Why did I receive this email?</strong><br />
Someone (hopefully you?) used your email with the {{config.SERVICE_NAME}} API on {{host}}. If this wasn't you, no worries. This is the only email you'll get.</p>
