<p>Thanks for using {{config.SERVICE_NAME}}. Congrats, you're one step away from making forms on {{host}} functional.</p>

<p>All you have to do is click the link below to confirm your email. To prevent spamming, you'll have to repeat this step for every page where you insert your form. Note that you won't be receiving any emails from the site before you confirm your email.</p>

<p><a href="{{nonce_link}}">Click here to confirm</a></p>

<p>We hope you enjoy using {{config.SERVICE_NAME}}. If you have any questions, feel free to shoot an email to {{config.CONTACT_EMAIL}}</p>

<p>Best,<br />
Lauri and Cole</p>

<hr />

<p><strong>Why did I receive this email?</strong><br />
Someone (hopefully you?) used your email with the {{config.SERVICE_NAME}} API on {{host}}. If this wasn't you, no worries. This is the only email you'll get.</p>