/** @format */

#settings {
  p#status {
    float: right;
    color: $dark-blue;
    font-size: 0.7em;
    margin-right: 2%;

    &.error {
      color: $red;
    }
  }

  h4 {
    margin: 14px 0 4px 0 !important;
  }

  p.description {
    line-height: 1em;
    display: inline-block;
    font-size: 0.8em;
    margin: 0;
    margin-top: 0.2em;
    color: #999999;
  }

  .switch-row {
    // margin: auto;
    // carefully placed to work within formspree grid
    margin: 14px 0 0 -20px;
    position: relative;
    text-align: right;
    .switch {
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 26px;
      right: 5%;
      input {
        display: none;
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 18px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-color: $dark-green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $dark-green;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
