<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Confirm Form</title>
    <link href="email_styles.css" media="all" rel="stylesheet" type="text/css" />
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EmailMessage",
  "potentialAction": {
    "@type": "ConfirmAction",
    "name": "Confirm form",
    "handler": {
      "@type": "HttpActionHandler",
      "url": "{{ nonce_link }}"
    }
  },
  "description": "Confirm form on {{ host }}"
}
    </script>
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
    <table class="body-wrap">
        <tr>
            <td></td>
            <tr>
                <td class="header">
                    <img src="{{url_for('static', filename='img/email_headers/form-confirmation@3x.png', _external=True)}}" width="400">
                </td>
            </tr>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            Thanks for using {{config.SERVICE_NAME}}. Congrats, you're one step away from making forms on {{host}} functional.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            All you have to do is click the link below to confirm your email. To prevent spamming, you'll have to repeat this step for every page where you insert your form. Note that you won't receive any further emails until you confirm.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <a href="{{nonce_link}}" class="btn-primary">Confirm form</a>
                                        </td>
                                    </tr>
                                    {% if data and keys %}
                                    <tr>
                                        <td class="content-block">
                                            In case you weren't the one who submitted this, here are the contents of the form:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block aligncenter">
                                            <table class="form">
                                                <tr>
                                                    <td>
                                                        <table class="form-items" cellpadding="0" cellspacing="0">
                                                            {% for k in keys %}
                                                            <tr>
                                                                <td width="30%">{{k}}</td>
                                                                <td>{{data.get(k,'')}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="alert straight-edge alert-bad">
                                            <strong>ALERT:</strong> You will not receive further emails until you confirm.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">Why did I receive this?
                                    <br>Someone (hopefully you?) used your email with the {{config.SERVICE_NAME}} API on {{host}}. If this wasn't you, no worries. This is the only email you'll get. If you have any questions, feel free to shoot an email to <a href="mailto:{{config.CONTACT_EMAIL}}">{{config.CONTACT_EMAIL}}</a>.</td>
                                <br>
                            </tr>
                          {% include "email/footer.html" %}
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
