<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Account Downgraded</title>
    <link href="email_styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
    <table class="body-wrap">
        <tr>
            <td></td>
            <tr>
                <td class="header">
                    <img src="{{url_for('static', filename='img/email_headers/downgraded@3x.png', _external=True)}}" width="400">
                </td>
            </tr>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                  <tr>
                                      <td class="alert straight-edge alert-neutral">
                                        You have been downgraded from {{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }}
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="content-block">
                                        We have successfully downgraded your subscription from {{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }}. If you didn't mean for this to happen you can easily resubscribe from your <a href="{{ url_for('account', _external=True) }}">{{ config.SERVICE_NAME }} dashboard</a>.
                                      </td>
                                  </tr>
                                    <tr>
                                        <td class="content-block">
                                          Please note that your form will no longer have unlimited submissions and other <a href="{{ url_for('index', _external=True) }}#features">{{ config.UPGRADED_PLAN_NAME }} features</a>.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">Why did I receive this?
                                    <br>Someone (hopefully you?) used your email with the {{config.SERVICE_NAME}} API on {{host}}. If this wasn't you, no worries. This is the only email you'll get. If you have any questions, feel free to shoot an email to <a href="mailto:{{config.CONTACT_EMAIL}}">{{config.CONTACT_EMAIL}}</a>.</td>
                                <br>
                            </tr>
                            {% include "email/footer.html" %}
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
