<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Reset Password</title>
	<link href="email_styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

	<table class="body-wrap">
		<tr>
			<td></td>
			<tr>
				<td class="header">
					<img src="{{url_for('static', filename='img/email_headers/form-confirmation@3x.png')}}">
				</td>
			</tr>
			<td class="container" width="600">
				<div class="content">
					<table class="main" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="content-wrap">
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td class="content-block">
											Hey there,
										</td>
									</tr>
									<tr>
										<td class="content-block">
											You told us you forgot your password. If you really did, click here to choose a new one:
										</td>
									</tr>
									<tr>
										<td class="content-block">
											<a href="{{ link }}" class="btn-primary">Choose a new password</a>
										</td>
									</tr>
									<tr>
										<td class="content-block">
											If you didn't mean to reset your password, then you can just ignore this email; your password will not change.
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div class="footer">
						<table width="100%">
							<tr>
								<td class="aligncenter content-block">Why did I receive this?
								<br>Someone (hopefully you?) used reset your password on {{config.SERVICE_NAME}}. If this wasn't you, you don't need to do anything, your password will stay the same.</td>
							</tr>
							<tr>
								<td class="aligncenter content-block">
									<a href="//facebook.com/formspree"><img src="{{url_for('static', filename='img/social/fb.png')}}"></a>
									<a href="//twitter.com/formspree"><img src="{{url_for('static', filename='img/social/twitter.png')}}"</a>
									<a href="//github.com/formspree/formspree"><img src="{{url_for('static', filename='img/social/github.png')}}"</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>

</body>

</html>
