<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Disabling forms</title>
    <link href="email_styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            Clicking the confirmation button will disable the forms that target {{ forms[0].email }} from the following web addresses:
                                            <table>
                                                {% for f in forms %}
                                                <tr>
                                                    <td>
                                                        {{ f.host }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <a href="{{ url_for('unconfirm_form', nonce=nonce, _external=True) }}" class="btn-primary">Confirm disable</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="alert straight-edge alert-bad">
                                            <strong>ALERT:</strong> This will cancel all further submissions from the selected forms.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
								<td class="aligncenter content-block">
									<a href="//facebook.com/formspree"><img src="{{url_for('static', filename='img/social/fb.png')}}"></a>
									<a href="//twitter.com/formspree"><img src="{{url_for('static', filename='img/social/twitter.png')}}"</a>
									<a href="//github.com/formspree/formspree"><img src="{{url_for('static', filename='img/social/github.png')}}"</a>
								</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
