@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.row {
  width: 100%; }
  .row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.container {
  max-width: 950px;
  margin: 0 auto; }
  .container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  @media (min-width: 760px) {
    .container.narrow {
      max-width: 600px; } }
  @media (max-width: 760px) {
    .container {
      max-width: 100% !important; } }

.col-1-1 {
  float: left;
  padding: 0 20px;
  width: 100%; }
  @media (max-width: 760px) {
    .col-1-1 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-2 {
  float: left;
  padding: 0 20px;
  width: 50%; }
  @media (max-width: 760px) {
    .col-1-2 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-3 {
  float: left;
  padding: 0 20px;
  width: 33.33%; }
  @media (max-width: 760px) {
    .col-1-3 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-2-3 {
  float: left;
  padding: 0 20px;
  width: 66.66%; }
  @media (max-width: 760px) {
    .col-2-3 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-4 {
  float: left;
  padding: 0 20px;
  width: 25%; }
  @media (max-width: 760px) {
    .col-1-4 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-3-4 {
  float: left;
  padding: 0 20px;
  width: 75%; }
  @media (max-width: 760px) {
    .col-3-4 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-2-5 {
  float: left;
  padding: 0 20px;
  width: 40%; }
  @media (max-width: 760px) {
    .col-2-5 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-3-5 {
  float: left;
  padding: 0 20px;
  width: 60%; }
  @media (max-width: 760px) {
    .col-3-5 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-5-12 {
  float: left;
  padding: 0 20px;
  width: 41.67%; }
  @media (max-width: 760px) {
    .col-5-12 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-5-6 {
  float: left;
  padding: 0 20px;
  width: 83.33%; }
  @media (max-width: 760px) {
    .col-5-6 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-6 {
  float: left;
  padding: 0 20px;
  width: 16.67%; }
  @media (max-width: 760px) {
    .col-1-6 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

@media print {
  .col-1-1 {
    width: 100% !important; }

  .col-1-2 {
    width: 50% !important; }

  .col-1-4 {
    width: 25% !important; }

  .col-1-3 {
    width: 33.33% !important; }

  .col-2-3 {
    width: 66.66% !important; }

  .col-5-12 {
    width: 41.67% !important; } }
body {
  font-size: 18px;
  line-height: 1.5em;
  font-family: "proxima-nova-soft", "Proxima Nova Soft", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "proxima-nova-soft", "Proxima Nova Soft", sans-serif;
  -webkit-font-smoothing: antialiased; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small, p > small {
    font-size: 0.65em;
    color: #aaa; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3em;
  color: #1b3544; }
  h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-weight: 400;
    color: #444; }

p {
  line-height: 1.5em;
  color: #444; }

a {
  color: #359173;
  text-decoration: none;
  transition: color 0.3s ease-in-out; }
  a:hover {
    color: #2A735B; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.caps {
  text-transform: uppercase; }

/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 * 
 * Classes added:
 * 	1) hint
 */
.hint, [data-hint] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ }
  .hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; }
  .hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
    visibility: visible;
    opacity: 1; }
  .hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  .hint:after, [data-hint]:after {
    font-family: 'myriad-pro', sans-serif;
    font-weight: 400;
    content: attr(data-hint);
    background: #1b3544;
    color: white;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap; }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top:before {
  border-top-color: #1b3544; }

.hint--bottom:before {
  border-bottom-color: #1b3544; }

.hint--left:before {
  border-left-color: #1b3544; }

.hint--right:before {
  border-right-color: #1b3544; }

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -12px; }
.hint--top:after {
  margin-left: -18px; }
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 18px; }
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
  margin-top: -12px; }
.hint--bottom:after {
  margin-left: -18px; }
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 18px; }
.hint--bottom:hover:after, .hint--bottom:hover:before, .hint--bottom:focus:after, .hint--bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px; }
.hint--right:after {
  margin-bottom: -20px; }
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%; }
.hint--right:hover:after, .hint--right:hover:before, .hint--right:focus:after, .hint--right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px; }
.hint--left:after {
  margin-bottom: -20px; }
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%; }
.hint--left:hover:after, .hint--left:hover:before, .hint--left:focus:after, .hint--left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 *
 */
/**
 * Error
 */
.hint--error:after {
  background-color: #b34e4d; }
.hint--error.hint--top:before {
  border-top-color: #b34e4d; }
.hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d; }
.hint--error.hint--left:before {
  border-left-color: #b34e4d; }
.hint--error.hint--right:before {
  border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: #c09854; }
.hint--warning.hint--top:before {
  border-top-color: #c09854; }
.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }
.hint--warning.hint--left:before {
  border-left-color: #c09854; }
.hint--warning.hint--right:before {
  border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
  background-color: #3986ac; }
.hint--info.hint--top:before {
  border-top-color: #3986ac; }
.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }
.hint--info.hint--left:before {
  border-left-color: #3986ac; }
.hint--info.hint--right:before {
  border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
  background-color: #458746; }
.hint--success.hint--top:before {
  border-top-color: #458746; }
.hint--success.hint--bottom:before {
  border-bottom-color: #458746; }
.hint--success.hint--left:before {
  border-left-color: #458746; }
.hint--success.hint--right:before {
  border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible; }
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) hint--rounded
 *
 */
.hint--rounded:after {
  border-radius: 4px; }

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--bounce
 *
 */
.hint--bounce:before, .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }

.alert-box {
  padding: 15px;
  font-size: 1em;
  line-height: 1.5em;
  display: block;
  border: 2px solid #359173;
  background-color: transparent;
  color: #359173; }
  .alert-box.error {
    border-color: #D9534F;
    background-color: transparent;
    color: #D9534F; }
  .alert-box.success {
    border-color: #359173;
    background-color: transparent;
    color: #359173; }
  .alert-box.banner {
    text-align: center;
    margin-bottom: 0; }
    @media (max-width: 760px) {
      .alert-box.banner {
        position: absolute;
        left: 0;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #359173; } }
    .alert-box.banner a {
      opacity: 0.75;
      text-decoration: underline; }

a.alert-box:hover {
  color: #1b3544;
  border-color: #f1f1fa; }

a.alert-box.error:hover {
  color: #D9534F;
  border-color: #D9534F; }

a.alert-box.success:hover {
  color: #359173;
  border-color: #359173; }

.highlight {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #35918D;
  border-radius: 3px;
  margin: 3px; }

.login .row {
  padding: 2.2em 0; }
.login input, .login button {
  font-size: 1.2em;
  margin: 2px 0 1em 0; }

.no-underline {
  border-bottom: none !important; }

.no-border {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important; }

.invoice {
  font-size: 9pt;
  line-height: 1.2em; }
  .invoice .middle > * {
    vertical-align: middle; }
  .invoice strong {
    color: #1b3544; }
  .invoice img {
    display: inline;
    height: 50px;
    margin-right: 10px; }
  .invoice h1 {
    display: inline; }
  .invoice .row {
    padding-top: 40px; }
    .invoice .row p {
      -webkit-margin-before: 0; }
  .invoice h3 {
    margin-bottom: 0; }
  .invoice #invoice-table h3 {
    margin-bottom: 10px; }
  .invoice #invoice-table table, .invoice #invoice-table tbody td {
    border: 0.25px solid #DFDFDF; }
  .invoice #invoice-table thead {
    background-color: #359173;
    color: white;
    text-align: center;
    border-color: #000000; }
  .invoice #invoice-table tbody {
    vertical-align: top; }
  .invoice #invoice-table th, .invoice #invoice-table td {
    padding: 10px; }
  .invoice .invoice-unpaid:after {
    content: "UNPAID";
    position: absolute;
    top: 120px;
    right: 15%;
    z-index: 1;
    font-family: 'Special Elite', Arial, sans-serif;
    transform: rotate(-45deg);
    font-size: 40px;
    color: #c00;
    border: solid 4px #c00;
    padding: 15px 5px 5px;
    border-radius: 5px;
    opacity: 0.7;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00; }

.dashboard {
  /* icon morphing */ }
  .dashboard .row:after {
    content: "";
    display: none; }
  .dashboard .card {
    border-width: 0; }
  .dashboard span[class^="ion-"] {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 32px; }
  .dashboard .delete {
    color: #D9534F;
    border-color: #D9534F; }
  .dashboard .delete:hover {
    transition: color 0.3s ease-in-out;
    color: #D87431; }
  .dashboard div.submissions-col {
    overflow-x: auto; }
  .dashboard table {
    text-align: left;
    width: 100%; }
    @media screen and (max-width: 600px) {
      .dashboard table.responsive {
        border: 0; }
        .dashboard table.responsive thead {
          display: none; }
        .dashboard table.responsive tr {
          margin-bottom: 10px;
          display: block;
          border-bottom: 5px solid #ddd; }
          .dashboard table.responsive tr td {
            display: block;
            font-size: 13px;
            border-bottom: 1px dotted #ccc;
            margin: 10px auto;
            max-width: 100%; }
          .dashboard table.responsive tr td:last-child {
            border-bottom: 0; }
          .dashboard table.responsive tr td:before {
            content: attr(data-label);
            display: block;
            text-transform: uppercase;
            font-weight: bold; } }
    .dashboard table.submissions {
      padding: 2px;
      background: #fff; }
      .dashboard table.submissions th {
        padding: 7px 0; }
      .dashboard table.submissions tr:first-child td {
        padding-top: 10px; }
      .dashboard table.submissions td {
        padding: 3px 1px; }
      .dashboard table.submissions pre {
        font-family: inherit;
        margin: 0;
        max-width: 300px; }
      .dashboard table.submissions tr pre.full {
        display: none; }
      .dashboard table.submissions tr:target pre {
        display: none; }
        .dashboard table.submissions tr:target pre + pre.full {
          display: block; }
    .dashboard table.forms td.target-email, .dashboard table.emails td.target-email {
      max-width: 250px;
      word-break: break-word; }
    .dashboard table.forms td.n-submissions, .dashboard table.emails td.n-submissions {
      min-width: 150px; }
    .dashboard table.forms tr.new span[class^="ion-"], .dashboard table.emails tr.new span[class^="ion-"] {
      color: #D9534F; }
    .dashboard table.forms tr.waiting_confirmation span[class^="ion-"], .dashboard table.emails tr.waiting_confirmation span[class^="ion-"] {
      color: #D87431; }
    .dashboard table.forms tr.verified span[class^="ion-"], .dashboard table.emails tr.verified span[class^="ion-"] {
      color: #2A735B; }
    .dashboard table.forms tr.new a:not(*:hover), .dashboard table.emails tr.new a:not(*:hover) {
      border-bottom: 1px dotted;
      margin-bottom: -1px;
      line-height: 1em; }
    .dashboard table.forms tr.new .never, .dashboard table.emails tr.new .never {
      font-size: 15px; }
    .dashboard table.forms tr:not(.new) *:not(.n-submissions) a:not(*:hover), .dashboard table.emails tr:not(.new) *:not(.n-submissions) a:not(*:hover) {
      color: inherit; }
    .dashboard table.emails tr:nth-child(2) td {
      padding-top: 10px; }
    .dashboard table.emails td:last-child {
      text-align: center; }
  .dashboard .pad-top {
    padding-top: 0.9em; }
  .dashboard #card-list {
    border-collapse: collapse; }
  .dashboard #card-list tr {
    border: solid 2px #359173;
    border-radius: 3px; }
  .dashboard #card-list td {
    background: #FFF;
    color: #000;
    padding: 7px 15px; }
  .dashboard .fa-chevron-right {
    transition: transform .25s ease-in-out; }
  .dashboard #card-list tr.even td {
    cursor: pointer; }
  .dashboard .create-form {
    margin: 3em 0; }
    .dashboard .create-form form {
      clear: both; }
    .dashboard .create-form form input:not([type="checkbox"]):not([type="radio"]) {
      margin-top: 0;
      clear: both;
      width: 100%;
      vertical-align: top; }
    .dashboard .create-form form button {
      padding: 0.63em 32px;
      text-align: center; }
    .dashboard .create-form .info {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: right; }
    .dashboard .create-form .modal:not(.js):target > *,
    .dashboard .create-form .modal.target > * {
      top: 20%; }
  .dashboard .modal[id^="form-"] textarea {
    font-size: 15px; }
  .dashboard .modal > * {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -385px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 770px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    padding: 0.3em 1.3em 1.3em 1.3em; }
    .dashboard .modal > * .x a {
      float: right;
      padding: 10px;
      font-size: 1.7em; }
    .dashboard .modal > * h4 {
      margin: 0;
      padding: 0;
      margin-top: 13px;
      float: left; }
  .dashboard .modal.narrow > * {
    width: 500px;
    margin-left: -290px; }
  .dashboard .modal .small {
    font-size: 0.75em; }
  .dashboard .modal .identified {
    background-size: 12% auto;
    background-repeat: no-repeat;
    background-position: right 10% center;
    transition: none;
    background-image: url("/static/img/cards/card.png"); }
    .dashboard .modal .identified.visa {
      background-image: url("/static/img/cards/visa.png"); }
    .dashboard .modal .identified.mastercard {
      background-image: url("/static/img/cards/mastercard.png"); }
    .dashboard .modal .identified.amex {
      background-image: url("/static/img/cards/amex.png"); }
    .dashboard .modal .identified.dinersclub {
      background-image: url("/static/img/cards/dinersclub.png"); }
    .dashboard .modal .identified.discover {
      background-image: url("/static/img/cards/discover.png"); }
    .dashboard .modal .identified.jcb {
      background-image: url("/static/img/cards/jcb.png"); }
    .dashboard .modal .identified.visaelectron {
      background-image: url("/static/img/cards/visaelectron.png"); }
    .dashboard .modal .identified.maestro {
      background-image: url("/static/img/cards/maestro.png"); }
  .dashboard .modal .card {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #359173;
    color: #359173;
    background: transparent;
    line-height: 1em;
    padding: 0.6em 0.9em;
    transition: all 0.3s ease-in-out; }
    .dashboard .modal .card:hover {
      border-color: #2A735B;
      color: #2A735B; }
  .dashboard .modal:not(.js):target > *, .dashboard .modal.target > * {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 10%; }
  .dashboard .modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }
  .dashboard .modal:not(.js):target:before, .dashboard .modal.target:before {
    display: block; }
  .dashboard .modal .red {
    color: #D9534F; }
  .dashboard .fa-unlock:hover::before {
    content: "\f023"; }
  .dashboard .fa-lock:hover::before {
    content: "\f09c"; }

.html-highlight {
  clear: both;
  font-size: 14px;
  font-family: monospace;
  padding: 5px;
  border: 2px dashed #696969;
  border-radius: 5px; }
  .html-highlight .bracket {
    color: #a65700; }
  .html-highlight .tagname {
    color: #800000;
    font-weight: bold; }
  .html-highlight .attrkey {
    color: #074726; }
  .html-highlight .equal {
    color: #808030; }
  .html-highlight .attrvalue {
    color: #0000e6; }
  .html-highlight .comment {
    color: #696969; }

a.button.export {
  width: 11em;
  text-align: center;
  display: inline-block;
  margin: 0 0 20px 20px; }

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #4c4c4c;
  padding: 5px; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

.slicknav_menu {
  display: none; }

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: inherit;
  z-index: 9;
  padding: 7px 10px;
  height: 41px; }
  body > nav + * {
    margin-top: 41px; }
  body > nav.scrolled {
    box-shadow: 0 0 0.6em rgba(17, 17, 17, 0.3); }
  body > nav > .greetings {
    float: left; }
  body > nav > .menu {
    float: right; }
  body > nav .item {
    margin-left: .5em; }

@media screen and (max-width: 40em) {
  body > nav.js {
    display: none; }

  .slicknav_menu {
    display: block; } }
.slicknav_menu {
  background: #4CD1A7;
  /* our transcluded menu header ("Welcome...") */ }
  .slicknav_menu a {
    color: white; }
  .slicknav_menu > a {
    float: right; }
  .slicknav_menu h4 {
    padding: 0;
    margin: 0;
    line-height: 33px;
    margin-top: 5px;
    float: left; }
  .slicknav_menu .slicknav_btn {
    background-color: #2A735B; }
  .slicknav_menu .slicknav_menutxt {
    text-shadow: 0 1px 3px #2A735B; }

.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #ffffff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/ }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer; }

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important; }

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important; }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #359173; }

.toast-error {
  background-color: #CC3F36; }

.toast-info {
  background-color: #4ca1a7; }

.toast-warning {
  background-color: #D87431; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em; }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em; }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em; } }
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.show {
  display: block; }

#settings-button {
  display: block; }

.modal .float-left {
  float: left; }
.modal p#status {
  float: right;
  color: #1b3544;
  font-size: 0.7em;
  margin-right: 2%; }
  .modal p#status.error {
    color: #D9534F; }
.modal h4.large {
  font-size: 1.2em; }
.modal p.description {
  line-height: 1.0em;
  display: inline-block;
  font-size: 0.8em;
  margin: 0;
  margin-top: 0.2em;
  color: #999999; }
.modal .col-1-6.switch-row {
  margin: auto; }
.modal .switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 26px;
  right: 5%; }
.modal .switch input {
  display: none; }
.modal .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }
.modal .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }
.modal input:checked + .slider {
  background-color: #2A735B; }
.modal input:focus + .slider {
  box-shadow: 0 0 1px #2A735B; }
.modal input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }
.modal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

html {
  height: 100%; }

body {
  min-height: 100%; }

body#card {
  background: #f1f1fa;
  padding-top: 4em;
  font-size: 0.9em;
  text-align: center; }
  body#card.dashboard {
    padding-top: 0; }

.tooltip {
  font-weight: 600;
  cursor: help; }

#title {
  text-align: center;
  margin-bottom: 3em; }
  #title h1 {
    font-size: 1.2em; }
  #title img {
    max-width: 70px; }

.row.section {
  padding-top: 5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #ddd; }
  .row.section#header {
    border-color: #359173; }

#header {
  border-bottom: 1px solid #ddd; }
  #header i {
    font-size: 4em;
    color: #1b3544; }
  #header .next {
    opacity: 0.5; }
  #header .success i {
    color: #359173; }
  #header .error i {
    color: #D9534F; }
  #header .done {
    opacity: 0.3; }
    #header .done p {
      text-decoration: line-through; }
  #header .done i, #header .current i {
    color: #359173; }

.container {
  padding-top: 1em;
  padding-bottom: 1em; }
  @media (max-width: 760px) {
    .container {
      padding-bottom: 0 !important; } }
  .container.block {
    padding-bottom: 1.5em;
    padding-top: 1.5em; }
    @media (max-width: 760px) {
      .container.block {
        padding-bottom: 0 !important; } }
    .container.block:first-child {
      padding-top: 0; }
    .container.block:last-child {
      padding-bottom: 0; }
  @media (min-width: 760px) {
    .container.card {
      max-width: 500px; } }
  @media (max-width: 760px) {
    .container.card {
      margin-right: 20px;
      margin-left: 20px; } }
  .container.index-card {
    max-width: 950px; }

.card,
.index-card {
  padding: 0.9em;
  background: #fff;
  border: 1px solid #ddd; }
  .card h1,
  .index-card h1 {
    font-size: 1.8em; }

.row.grey {
  background: #f1f1fa; }

p {
  line-height: 1.5em; }

p.code {
  font-size: 0.8em;
  font-family: "source-code-pro", monospace;
  border: 1px solid #ddd;
  background: #fff; }
  @media (max-width: 760px) {
    p.code {
      overflow: auto; } }

span.code {
  font-family: "source-code-pro", monospace;
  display: inline-block;
  padding: 0 0.2em;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 0.9em; }

input, textarea {
  font-size: 0.8em;
  font-family: 'proxima-nova-soft', sans-serif;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.9em;
  transition: all 0.3s ease-in-out;
  width: 100%; }
  input.code, textarea.code {
    font-family: "source-code-pro", monospace; }
  input:focus, textarea:focus {
    border-color: #2A735B;
    outline: none;
    box-shadow: 0 0 5px 1px #359173; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 6px; }

form input, form textarea {
  margin-bottom: 0.5em; }

table#invoices {
  line-height: 3em;
  overflow-x: auto; }
  @media screen and (max-width: 736px) {
    table#invoices {
      border: 0; }
      table#invoices thead {
        display: none; }
      table#invoices tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 5px solid #ddd; }
        table#invoices tr td {
          display: block;
          font-size: 13px;
          border-bottom: 1px dotted #ccc;
          margin: 10px auto;
          max-width: 100%; }
        table#invoices tr td:last-child {
          border-bottom: 0; }
        table#invoices tr td:before {
          content: attr(data-label);
          display: block;
          text-transform: uppercase;
          font-weight: bold; } }

button, a.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #359173;
  color: #359173;
  background: transparent;
  line-height: 1em;
  padding: 0.6em 0.9em;
  transition: all 0.3s ease-in-out; }
  button.no-uppercase, a.button.no-uppercase {
    text-transform: none !important; }
  button:hover, a.button:hover {
    border-color: #2A735B;
    color: #2A735B; }
    button:hover.emphasis, a.button:hover.emphasis {
      color: white;
      background-color: #2A735B; }
  button:focus, a.button:focus {
    outline: 0; }
  button.destructive, a.button.destructive {
    color: #D9534F;
    border-color: #D9534F; }
  button.disabled, a.button.disabled {
    color: #707070;
    border-color: #707070; }
  button[disabled], button[disabled]:hover, a.button[disabled], a.button[disabled]:hover {
    color: #b0e2d2;
    border-color: #b0e2d2; }

.animate {
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-animation-duration: 0.4s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -webkit-animation-duration: 0.4s; }
  .animate.dropIn {
    -moz-animation-name: dropIn;
    -webkit-animation-name: dropIn; }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-webkit-keyframes dropIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0);
    -moz-transform: translate3d(0, -150px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes dropInLong {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -450px, 0);
    -moz-transform: translate3d(0, -450px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg); } }
@-webkit-keyframes rotateBack {
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); } }
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -10000px;
  left: -10000px;
  opacity: 0;
  transition: opacity 0.4s linear;
  background: rgba(255, 255, 255, 0.96); }

body.showOverlay {
  overflow: hidden; }
  body.showOverlay .overlay {
    top: 0;
    left: 0;
    opacity: 1; }
    body.showOverlay .overlay iframe {
      -webkit-animation-iteration-count: once;
      -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      -webkit-animation-duration: 0.4s;
      -moz-animation-name: dropInLong;
      -webkit-animation-name: dropInLong; }

.toggleOverlay {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2.2em;
  font-weight: 600;
  -moz-animation-iteration-count: once;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 0.2s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.2s; }

body.showOverlay .toggleOverlay {
  -moz-animation-name: rotate;
  -webkit-animation-name: rotate; }

#toast-container {
  right: 30%;
  left: 30%;
  width: 40%; }
