{% extends 'users/dashboard.html' %}

{% block sectiontitle %}
  <h1>Your account</h1>
{% endblock %}

{% block section %}

  <div class="row">
    <div class="col-1-2">
      <div class="card">
        <h3>Your emails</h3>
        <p>You are registered with the email <span class="code">{{ current_user.email }}</span> since {{ current_user.registered_on.strftime('%B %d, %Y') }}.</p>
        <table class="emails">
          <tr>
            <form method="post" action="{{ url_for('add-account-email') }}">
              <td>
                <input name="address" placeholder="Add an email to your account">
              </td>
              <td style="width: 1px">
                <button type="submit" style="font-size: 0.76em; padding: 1em 0.9em">Verify</button>
              </td>
            </form>
          </tr>
        {% for email in emails.pending %}
          <tr class="waiting_confirmation">
            <td>{{ email }}</td>
            <td><span class="tooltip hint--right" data-hint="Waiting verification. Please check your mailbox."><span class="ion-pause"></span></span></td>
          </tr>
        {% endfor %}
        {% for email in emails.verified %}
          <tr class="verified">
            <td>{{ email }}</td>
            <td>
              <span class="tooltip hint--right" data-hint="This address is verified. You can freely control forms that post to it."><span class="ion-checkmark-round"></span>
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-1-2">
      <div class="card">
        <h3>Plan</h3>

        {% if current_user.upgraded %}
          <p>You are a {{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }} user.</p>
          {% if sub.cancel_at_period_end %}
            <p>You've cancelled your subscription and it is ending on {{ sub.current_period_end }}.</p>
            <form action="/account/resubscribe" method="POST">
              <button type="submit">Resubscribe</button>
            </form>
          {% else %}
            <p>Your subscription will automatically renew on {{ sub.current_period_end }}.</p>
          {% endif %}
			<div class="pad-top">
		  <a class="button" href="{{ url_for('billing-dashboard') }}">Manage Billing</a>
			</div>
          {% else %}
            When you upgrade to <strong>{{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }}</strong> you will get
            <ol style="text-align: left">
              <li>Unlimited submissions</li>
              <li>Access to submission archives</li>
              <li>Ability to hide your email from your page's HTML and replace it with a random-like URL</li>
              <li>Ability to submit AJAX forms</li>
              <li>Ability to create forms linked to other email accounts</li>
            </ol>

            <h6 class="light">You are using a free account and should upgrade.</h6>

            <form method="post" action="/account/upgrade">
              <button id="stripe-upgrade"
                data-key = "{{ config.STRIPE_PUBLISHABLE_KEY }}"
                data-image = "/static/img/logo.png"
                data-name = "{{ config.SERVICE_NAME }}"
                data-description = "{{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }} monthly subscription"
                data-amount = "999"
                data-email = "{{ current_user.email }}"
                data-allowRememberMe = false
                data-zip-code = true
                data-locale = true
                data-panel-label = "Subscribe"
              >Upgrade for 9.99 / month</button>
            </form>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
