<div class="create-form">
    <a href="#add-card" class="button">
      Add Card
    </a>
    <div class="modal narrow" id="add-card" aria-hidden="true">
        <div class="container">
            <div class="x">
                <h4>Add Card</h4><a href="#">&times;</a></div>
            <form method="POST" action="{{ url_for('add-card') }}" id="payment-form">
                <div id="card-element" class="field"></div>
                <div class="col-1-1">
                    <input type="submit" class="submit card" value="Add Card">
                </div>
            </form>
            <div class="col-1-1 small">
                <p>Secured with <i class="fa fa-cc-stripe" aria-hidden="true"></i>. {{ config.SERVICE_NAME }} never sees your card number</p>
            </div>
        </div>
    </div>
</div>
<script>
  var stripe = Stripe('{{ config.STRIPE_PUBLISHABLE_KEY }}');
  var elements = stripe.elements();
  var card = elements.create('card', {
  style: {
    base: {
      iconColor: '#359173',
      color: '#31325F',
      lineHeight: '40px',
      fontWeight: 300,
      fontFamily: '"proxima-nova-soft", Helvetica, sans-serif',
      fontSize: '15px',

      '::placeholder': {
        color: '#CFD7E0',
      },
    },
  }
});
card.mount('#card-element');
</script>
<script>
   function stripeTokenHandler(token) {
    var form = $('#payment-form');
    form.append($('<input type="hidden" name="stripeToken">').val(token.id));
    form.submit();
  }

  function createToken() {
      stripe.createToken(card).then(function(result) {
          if (result.error) {
              $('#card-errors').textContent = result.error.message;
          } else {
              stripeTokenHandler(result.token);
          }
      })
  }

  $(function () {
    $('#payment-form')[0].addEventListener('submit', function (e) {
      e.preventDefault();
      createToken();
    });
  });
</script>
