{% extends 'layouts/base.html' %}

{% block base %}
<style>
    {# TODO: Remove inline styling. #}
    .container.narrow {
      max-width: 950px;
    }

    table.forms {
      text-align: left;
      width: 100%;
    }

    *[class^="ion-"] {
      display: inline-block;
      font-size: 32px;
      text-align: center;
      width: 32px;
    }
</style>

<div class="container">
    <div class="col-1-1">
        <h1>Hello {{user.email}}</h1>

        <p><a href="/logout">logout</a></p>
    </div>

    <hr />

    <div class="col-1-1">
        <h2>Your Forms</h2>

        <table class="forms">
            <tbody>
            {% for form in user.forms.all() %}
              <tr>
                <td>
                  {% if form.is_new %}
                    <span class="tooltip hint--left" data-hint="New form">
                        <span class="ion-alert"></span>
                    </span>
                  {% elif form.confirmed %}
                    <span class="tooltip hint--left" data-hint="Confirmed">
                        <span class="ion-checkmark"></span>
                    </span>
                  {% elif form.confirm_sent %}
                    <span class="tooltip hint--left" data-hint="Awaiting confirmation">
                        <span class="ion-refresh"></span>
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% if form.is_new %}
                    <a href="#" role="button">view HTML code</a>
                    <div class="html-code" style="display: none;">
                        <h2>Success! Your form has been created</h2>
                        <label>Form Code:
                          <textarea>{{ form.code }}</textarea>
                        </label>
                    </div>
                  {% else %}
                    {{ form.host }}
                  {% endif %}
                </td>
                <td>{{ form.email }}</td>
                <td>
                  {% if form.is_new %}
                    form never submitted
                  {% else %}
                    {{ form.counter }} submissions
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr />

    {% if user.upgraded %}
        <div class="col-1-1">
            <h2>New Form</h2>
            <form method="POST" action="{{ url_for('forms-api') }}">
                <label>
                    Send email to:
                    <input type="email" name="email" placeholder="johnny@example.com" />
                </label>
                <input type="submit" value="Create" />
            </form>
        </div>
    {% else %}
      Please upgrade your account in order to create new forms.
    {% endif %}
</div>




{% endblock %}
