{% extends 'layouts/base.html' %}

{% block base %}
  <div class="container narrow card">
    <form action="" method=post class="form-horizontal">
      <h2>Log in to Formspree</h2>

      <div class="control-group">
        <div class="controls">
          <input type="text" id="email" name="email" class="input-xlarge"
                 placeholder="Enter Email" required>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
                 placeholder="Enter Password" required>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" id="remember_me" name="remember_me">Remember me
        </label>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Sign in</button>
        </div>
      </div>
    </form>

    <p>Don't have an account? <a href="/register">Register</a>!</p>
  </div>
{% endblock base %}
