{% extends 'users/login.html' %}

{% block form %}
  <form action="" method=post>
    <h2>Sign up for {{ config.SERVICE_NAME }} </h2>

    <input type="email" id="email" name="email" placeholder="Enter Email" value="{{ request.form.email }}" required>

    <input type="password" id="password" name="password" placeholder="Enter Password" value="{{ request.form.password }}" required>
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>

  <p>Already have an account? <a href="{{ url_for('login', next=request.args.get('next')) }}">Log in</a>.</p>
{% endblock form %}
