{% extends 'users/login.html' %}

{% block form %}
  <form action="" method=post>
    <h2>Sign up for {{ config.SERVICE_NAME }} </h2>

    <input type="email" id="email" name="email" placeholder="Enter Email" value="{{ request.form.email }}" required>

    <input type="password" id="password" name="password" placeholder="Enter Password" value="{{ request.form.password }}" required>
	<p>By clicking Sign Up, you agree to our <a href="http://docs.formspree.io/files/terms.pdf">Terms</a> and that you have read our <a href="http://docs.formspree.io/files/privacy.pdf">Privacy Policy</a>.</p>
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>

  <p>Already have an account? <a href="{{ url_for('login', next=request.args.get('next')) }}">Log in</a>.</p>
{% endblock form %}
