.navtabs {
  ul {
    padding: 0px;
  }

  li {
    padding: 5px;
    font-size: 18px;
    display: inline-block;
    height: 2em;

    &.active {
      background-color: $green;
      a {
        color: #FFF;
      }
    }
  }
}

.create-form {
  span {
    font-size: 32px !important; 
  }

  .create-form-button {
    cursor: pointer;
    float: right;
  }

  #createFormModal {
    display: none;
  }
}

table {
  text-align: left;
  width: 100%;

  &.submissions {
    border: 1px solid $accent;
    padding: 2px;
    background: #fff;

    th {
      border-bottom: 2px solid $green;
      text-align: center;
      padding: 7px;
    }
    td {
      border: 1px solid $accent;
      padding: 1px;
    }
    pre {
      font-family: inherit;
      margin: 0;
    }
  }

  &.forms,
  &.emails {
    .ion-checkmark-round { color: $dark-green; }
  
    tr.new {
      color: $red;
  
      a {
        color: inherit;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    tr.waiting_confirmation {
      color: $warning-orange;
    }
  
    div[id^="codeModal"] {
      display: none;
    }
  }

  &.emails tr:nth-child(2) td {
    padding-top: 10px;
  }
  &.emails td:last-child {
    text-align: center;
  }
}

span[class^="ion-"] {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 32px;
}
