.highlight {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #35918D;
  border-radius: 3px;
  margin: 3px;
}

.login {
  .row {
    padding: 2.2em 0
  }

  input, button {
    font-size: 1.2em;
    margin: 2px 0 1em 0;
  }
}

.no-underline {
  border-bottom: none !important;
}

.no-border {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.invoice {

  .middle > * {
    vertical-align: middle;
  }

  strong {
    color: $dark-blue;
  }

  img {
    display: inline;
    height: 50px;
    margin-right: 10px;
  }

  h1 {
    display: inline;
  }

  font-size: 9pt;
  line-height: 1.2em;

  .row {
    padding-top: 40px;

    p {
      -webkit-margin-before: 0;
    }
  }
  h3 {
    margin-bottom: 0;
  }
  #invoice-table {
    h3 {
      margin-bottom: 10px;
    }
    table, tbody td {
      border: 0.25px solid #DFDFDF;

    }
    thead {
      background-color: $green;
      color: white;
      text-align: center;
      border-color: #000000;
    }
    tbody {
      vertical-align: top;
    }
    th, td {
      padding: 10px;
    }
  }
  .invoice-unpaid:after {
    content: "UNPAID";
    position: absolute;
    top: 120px;
    right: 15%;
    z-index: 1;
    font-family: 'Special Elite', Arial, sans-serif;
    //-webkit-transform: rotate(-45deg); /* Safari */
    //-moz-transform: rotate(-45deg); /* Firefox */
    //-ms-transform: rotate(-45deg); /* IE */
    //-o-transform: rotate(-45deg); /* Opera */
    transform: rotate(-45deg);
    font-size: 40px;
    color: #c00;
    //background:#fff;
    border: solid 4px #c00;
    padding: 15px 5px 5px;
    border-radius: 5px;
    //zoom:1;
    //filter:alpha(opacity=20);
    opacity: 0.7;
    //-webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
  }
}

.dashboard {
  .row:after {
    content: "";
    display: none;
  }
  .card {
    border-width: 0
  }

  span[class^="ion-"] {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 32px;
  }

  .delete {
    color: $red;
    border-color: $red;
  }

  .delete:hover {
    transition: color 0.3s ease-in-out;
    color: $warning-orange;
  }

  div.submissions-col {
    overflow-x: auto;
  }

  table {
    text-align: left;
    width: 100%;

    &.responsive {
      @media screen and (max-width: 600px) {
        border: 0;

        thead {
          display: none;
        }

        tr {
          margin-bottom: 10px;
          display: block;
          border-bottom: 5px solid #ddd;

          td {
            display: block;
            font-size: 13px;
            border-bottom: 1px dotted #ccc;
            margin: 10px auto;
            max-width: 100%;
          }

          td:last-child {
            border-bottom: 0;
          }

          td:before {
            content: attr(data-label);
            display: block;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }

    &.submissions {
      padding: 2px;
      background: #fff;

      th {
        padding: 7px 0;
      }
      tr:first-child td {
        padding-top: 10px;
      }
      td {
        padding: 3px 1px;
      }
      pre {
        font-family: inherit;
        margin: 0;
        max-width: 300px;
      }

      // hiding full content when it is too big
      tr pre.full {
        display: none
      }
      tr:target pre {
        // showing long text on click.
        display: none;
        & + pre.full {
          display: block;
        }
      }
    }

    &.forms,
    &.emails {
      td.target-email {
        max-width: 250px;
        word-break: break-word;
      }
      td.n-submissions {
        min-width: 150px;
      }

      tr.new span[class^="ion-"] {
        color: $red
      }
      tr.waiting_confirmation span[class^="ion-"] {
        color: $warning-orange
      }
      tr.verified span[class^="ion-"] {
        color: $dark-green
      }

      tr.new a:not(*:hover) {
        border-bottom: 1px dotted;
        margin-bottom: -1px;
        line-height: 1em;
      }
      tr.new .never {
        font-size: 15px;
      }
      tr:not(.new) *:not(.n-submissions) a:not(*:hover) {
        color: inherit;
      }
    }

    &.emails tr:nth-child(2) td {
      padding-top: 10px;
    }
    &.emails td:last-child {
      text-align: center;
    }
  }

  .pad-top {
    padding-top: 0.9em;
  }

  #card-list {
    border-collapse: collapse;
  }

  #card-list tr {
    border: solid 2px $green;
    border-radius: 3px;
  }

  #card-list td {
    background: #FFF;
    color: #000;
    padding: 7px 15px;
  }

  .fa-chevron-right {
    transition: transform .25s ease-in-out;
  }

  #card-list tr.even td {
    cursor: pointer;
  }

  .create-form {
    margin: 3em 0;

    form {
      clear: both;
    }
    form input:not([type="checkbox"]):not([type="radio"]) {
      margin-top: 0;
      clear: both;
      width: 100%;
      vertical-align: top;
    }
    form button {
      padding: 0.63em 32px;
      text-align: center;
    }

    .info {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: right;
    }

    .modal:not(.js):target > *,
    .modal.target > * {
      top: 20%;
    }
  }

  .modal[id^="form-"] {
    textarea {
      font-size: 15px;
    }
  }

  .modal {
    & > * {
      background: #fefefe;
      border: #333333 solid 1px;
      border-radius: 5px;
      margin-left: -385px;
      position: fixed;
      left: 50%;
      top: -100%;
      z-index: 11;
      width: 770px;
      -webkit-transform: translate(0, -500%);
      -ms-transform: translate(0, -500%);
      transform: translate(0, -500%);
      -webkit-transition: -webkit-transform 0.3s ease-out;
      -moz-transition: -moz-transform 0.3s ease-out;
      -o-transition: -o-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;

      padding: 0.3em 1.3em 1.3em 1.3em;

      .captcha-container {
        margin-top: 20px;
      }

      .x a {
        float: right;
        padding: 10px;
        font-size: 1.7em;
      }
      h4 {
        margin: 0;
        padding: 0;
        margin-top: 13px;
        float: left;
      }
    }

    &.narrow {
      & > * {
        width: 500px;
        margin-left: -290px;
      }
    }

    .small {
      font-size: 0.75em;
    }

    .identified {
      background-size: 12% auto;
      background-repeat: no-repeat;
      background-position: right 10% center;
      transition: none;
      background-image: url('/static/img/cards/card.png');
      &.visa {
        background-image: url("/static/img/cards/visa.png");
      }
      &.mastercard {
        background-image: url("/static/img/cards/mastercard.png");
      }
      &.amex {
        background-image: url("/static/img/cards/amex.png");
      }
      &.dinersclub {
        background-image: url("/static/img/cards/dinersclub.png");
      }
      &.discover {
        background-image: url("/static/img/cards/discover.png");
      }
      &.jcb {
        background-image: url("/static/img/cards/jcb.png");
      }
      &.visaelectron {
        background-image: url("/static/img/cards/visaelectron.png");
      }
      &.maestro {
        background-image: url("/static/img/cards/maestro.png");
      }
    }

    .card {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 600;
      border: 2px solid #359173;
      color: #359173;
      background: transparent;
      line-height: 1em;
      padding: 0.6em 0.9em;
      transition: all 0.3s ease-in-out;
      &:hover {
        border-color: #2A735B;
        color: #2A735B;
      }
    }
    &:not(.js):target > *,
    &.target > * {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      top: 10%;
    }

    &:before {
      content: "";
      display: none;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    &:not(.js):target:before,
    &.target:before {
      display: block;
    }

    .red {
      color: $red;
    }
  }

  /* icon morphing */
  .fa-unlock:hover::before {
    content: "\f023";
  }
  .fa-lock:hover::before {
    content: "\f09c";
  }
}

.html-highlight {
  clear: both;
  font-size: 14px;
  font-family: monospace;
  padding: 5px;
  border: 2px dashed #696969;
  border-radius: 5px;

  .bracket {
    color: #a65700
  }
  .tagname {
    color: #800000;
    font-weight: bold;
  }
  .attrkey {
    color: #074726
  }
  .equal {
    color: #808030
  }
  .attrvalue {
    color: #0000e6
  }
  .comment {
    color: #696969
  }
}

a.button.export {
  width: 11em;
  text-align: center;
  display: inline-block;
  margin: 0 0 20px 20px;
}
