
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

#settings-button {
  display: block;
}

.modal {

  .float-left {
    float: left;
  }

  p#status {
    float: right;
    color: $dark-blue;
    font-size: 0.7em;
    margin-right: 2%;

    &.error {
      color: $red;
    }
  }

  h4.large {
    font-size: 1.2em;
  }
  p.description {
    line-height: 1.0em;
    display: inline-block;
    font-size: 0.8em;
    margin: 0;
    margin-top: 0.2em;
    color: #999999;

  }

  .col-1-6.switch-row {
    margin: auto;
  }

  .switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 26px;
    right: 5%;
    //top: 25%;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $dark-green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $dark-green;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

}