<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{config.SERVICE_NAME}}{% endblock %}</title>
    
    <script src="//use.typekit.net/htc4dlo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <link rel="icon" type="image/png" href="{{config.SERVICE_URL}}/favicon.ico">

    <meta name="viewport" content="initial-scale=1">

</head>
<body class="" id="card">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row">
        <div class="container">
            <div class="col-1-1">
            {% for category, message in messages %}
              <div class="alert-box {{ category }} banner">
               {{ message }}
              </div>
            {% endfor %}
           </div>
        </div>
      </div>
      {% endif %}
    {% endwith %}

    <div class="row">
        <div class="container narrow card">
            {% block base %}
            <h1>Nothing to see here</h1>
            {% endblock %}
        </div>
        <div class="container narrow">
            <p class="footer">{% block footer %}You are using {{config.SERVICE_NAME}}. <a href="{{config.SERVICE_URL}}">Read more.</a>{% endblock %}</p>
        </div>
    </div>
</body>
</html>